/* base styles */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
 }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; 
  font-size: 1.6rem;
  position: inherit;
}   

/* Nav bar style */
.nav-bar {
    padding: 0.1rem 0;
    width:100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 2rem;
    align-items:center;
    border-bottom: 1px solid #706d6d;

}

.nav-items-right {
    display:flex;
    float: right;
    padding-right:2rem;
    padding-left: 1rem;
}
.nav-items:last-child {
    margin-right: 0;
}

.img-nav-item {
    height: 3.4rem;
}

.nav-item-left {
    float: left;
    margin-right: 5rem;
    margin-bottom: 1rem;
}
.image-logo, .img-hamburger{
    height: 4rem;
}

.img-hamburger {
    height: 2.5rem;
    margin-right: 5rem;
    margin-bottom:0.7rem;
}



.img-search {

    border: 1px solid #777;
    height: 3rem;
}

.nav-item-center{
    padding-bottom: 2rem;
    display: flex;
}


.nav-item-search {
    padding:1rem auto;
    width: 70rem;
    height: 3rem;
    outline: none;
}





/* grids */


.row {
    width: 140rem;
    margin: 0 0; }
    .row:not(:last-child) {
      margin-bottom: 8rem; }
    .row::after {
      content: "";
      display: table;
      clear: both; }
    .row [class^="col-"] {
      float: left; }
    .row [class^="col-"]:not(:last-child) {
    margin-right: 2rem; }
    .row .col-1-of-4 {
      padding-left: 2rem;
      width: 40rem;
      float: right; }
   
    .row .col-3-of-4 {
      width: 75rem
     }
  

     /* Main part */

     .main {
         display: inline-block;
         position: relative;
     }



     .video-title{
      color: black;
      font-weight: 300;
      display: block;
     }

     .image-stats{
       margin-left: 10rem;
       width:45rem;
       height: 3.5rem;
       border-bottom: 1px solid #2c2b2b;
      

     }
     .video-viewers{
       padding-left:35rem;
       display: flex;
       padding-top: 2rem ;
       padding-bottom: 0;
        border-bottom: 1px solid #706d6d;
     }
     .paragraph {
       padding-top: 1rem;
     }
     
     /* Publisher style */

     .video-users{
       margin-top: 2rem;
      padding-top: 2rem;
      display: flex;
       width:100%;
       line-height: 1.5rem;
       
    }
    

     .image-user {
        height: 5rem;
        border-radius: 5rem;
        margin-right: 1.5rem;
     }

     .p-bold {
       font-weight: 600;
       color:black;
       font-size: 1.8rem;

      
     }
     .info{
       flex-direction: column;
     }

     .paragraph-little {

       font-weight: 400;
       color:#777;
       font-size:1.2rem;

     }
     .paragraph {
       padding:2.5rem 0;
       line-height: 2rem;
       color:black;
     }
     
     .paragraph-uppercase {
       text-transform: uppercase;
       padding:2rem 6rem;
     }

     .btn-subscribe {
       position: relative;
       width: 100%;
       padding-right: 5rem;
       margin-top:-20rem;
     }
     .img-subscribe {
      margin-left:18rem;
      margin-top:-6.5rem;
       height: 15rem;
       
     }

     .left-size-header{ 
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
     }
   


     .paragraph-2 {
       color:black;
     }

     .autoplay {
       justify-content: ;
     }
     
